*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background: rgb(23, 23, 23);
}



/*video container*/
.videoContainer {
    display: flex;
    flex-direction: column;
    scrollbar-width: none;
    background: rgb(23, 23, 23);
}

.container {
    display: flex;
    position: relative;
    justify-content: center;
}

.videoPlayer {
    display: flex;
    position: relative;
    width: 650px;
    height: 366px;
    border-radius: 15px;
    background-color: rgb(0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.videoPlayer.fulscreenCustom {
    width: 100%;
    height:100vh;
    border-radius: 0px;
}
.videoPlayer.theater {
    width: 100%;
    min-height: 90vh;
    border-radius: 0px;
}

#mainVideo {
    display: flex;
    margin: auto;
    position: relative;
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 15px;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    z-index: 3;
}
#mainVideo.fulscreenCustom {
    border-radius: 0px;
}

/*popup element*/
.popupElementContainer {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 10;
    pointer-events: none;
}
.popupElement {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}
.speedArrow p {
    font-size: 30px; letter-spacing: -14px; line-height: 0.8;
}
.blockLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    background: none;
}
.rewindNotif {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.500);
    border-radius: 20px;
    width: 90px;
    height: 50px;
    padding-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}
.arrowLOne {
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}
.arrowLTwo {
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}
.arrowLThree {
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

.blockMiddle {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 30%;
    background: none;
}
.twoTimeSpeedNotif {
    margin-top: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.500);
    border-radius: 20px;
    width: 80px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

.blockRight {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    background: none;
}
.forwardNotif {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.500);
    border-radius: 20px;
    width: 90px;
    height: 50px;
    padding-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}
.arrowROne {
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}
.arrowRTwo {
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}
.arrowRThree {
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

/*--controller*/
#ambientMode {
    border-radius: 5px;
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(40px);
    opacity: 0.5;
    z-index: 1;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    transition: opacity 2s;
  }
#ambientMode.unactive {
    opacity: 0;
}

.caption_text {
    position: absolute;
    left: 50%;
    bottom: 10%;
    width: 90%;
    max-width: 90%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: bottom 150ms;
    pointer-events: none;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    z-index: 9;
}
.caption_text mark {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding: 5px;
  background: #000000bd !important;
  color: #ffffff;
}
video::cue {
    opacity: 0;
}

.mainVideoClickF {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    display: block;
    z-index: 6;
}

.mainVideoLeftMinorSensor {
    display: none;
    position: absolute; 
    top: 0;
    left: 0;
    width: 1%;
    height:100%;
    z-index: 11;
}
.mainVideoLeftMinorSensor.active {
    display: block;
}

.controllersContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
}
.controllersContainer.activeFullscreen {
    border-radius: 0px;
}

.headerControllers {
    position: absolute;
    display: none;
    top: 0px;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    touch-action: none;
    left: 0;
    height: 40px;
    width: 100%;
    z-index: 9;
    transition: 150ms ease-in-out;
}
.headerControllers.active::before {
    content: "";
    position: absolute;
    top: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .75), transparent);
    width: 100%;
    aspect-ratio: 6 / 1;
    z-index: 1;
    pointer-events: none;
    touch-action: none;
    opacity: 1;
}
.headerControllers.activeFullscreen {
    display: flex;
}
.headerControllers.active {
    visibility: visible;
    opacity: 1;
    pointer-events: fill;
}
.headerLeftControllers {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    margin-left: 4px;
    margin-right: 4px;
    user-select: none;
    -webkit-user-select: none;
}
.headerRightControllers .icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    margin-left: 7px;
    margin-right: 7px;
    user-select: none;
    -webkit-user-select: none;
}
.headerControllers .icon img {
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    cursor: pointer;
    width: 20px;
    filter: invert(100%);
}
.headerControllers .icon button {
    border: none;
    background: none;
    cursor: pointer;
    height: 30px;
    width: 30px;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.headerControllers .headerListControllers {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 98%;
    z-index: 9;
}
.headerControllers .headerListControllers .headerLeftControllers,
.headerControllers .headerListControllers .headerRightControllers {
    display: flex;
    justify-content: center;
    align-items: center;
}
#captionMobile {
    display: none;
}
#settingMobile {
    display: none;
}
.videoFullscreenTitle {
    display: none;
}
.videoFullscreenTitle.active {
    display: block;
}

.controllersMobile {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 8;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: 150ms ease-in-out;
}
.controllersMobile.active {
    opacity: 1;
}
.listMobileControllers {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}
.blockRewind {
    content: '';
    height: 100%;
    width: 50%;
    background: none;
}
.blockCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;
    background: none;
}
.blockForward {
    content: '';
    height: 100%;
    width: 50%;
    background: none;
}
.iconMobile {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
    padding-left: 20px;
    padding-right: 20px;
}
.iconMobile button {
    display: flex;
    align-items: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.368);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.iconMobile img {
    display: flex;
    margin: auto;
    filter: invert(100%);
    width: 30px;
}

.thumbnail {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 8;
    pointer-events: none;
}
.thumbnail img {
    position: relative;
    width: 100%;
    height: 100%;
    filter: blur(100%);
}

.controllers {
    position: absolute;
    bottom: 0px;
    opacity: 0;
    left: 0;
    padding-top: 11px;
    height: 50px;
    width: 100%;
    z-index: 9;
    transition: 150ms ease-in-out;
}
.controllers.active::before {
    content: "";
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, .75), transparent);
    width: 100%;
    aspect-ratio: 6 / 1;
    z-index: 4;
    pointer-events: none;
    touch-action: none;
    opacity: 1;
}
.controllers.active {
    opacity: 1;
    pointer-events: fill;
}

.previewArea {
    position: absolute;
    bottom: 95px;
    width: 210px;
    height: 118px;
    background-color: black;
    border: 2px solid white;
    left: '';
    right: '';
    border-radius: 5px;
    display: none;
    pointer-events: none;
}
.previewArea span{
    position: absolute;
    bottom: -30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
}
.previewArea img{
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.progressContainer {
    width: 100%;
    position: absolute;
    z-index: 10;
    top: -10%;
    transform: translateY(10%);
}
#MainProgresInput {
    display: flex;
    position:absolute;
    margin: auto;
    width: 100%;
    height: 15px;
}
.progressBarBufBg {
    position: relative;
    margin: auto;
    width: 97.5%;
    height: 4px;
    outline: none;
    background: #f0f0f034;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
}
.progressBarBufBg:focus-visible {
    outline: 2px solid rgb(28, 142, 255);
}

.progressBuffer {
    position: absolute;
    width: 100%;
    height: 4px;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
}
.progressPreview {
    display: none;
    position: absolute;
    width: 0%;
    height: 4px;
    background: transparent;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    background: rgba(255, 255, 255, 0.466);
}
.progressPreview.active {
    display: block;
}
.progressShadow {
    position: absolute;
    width: 0%;
    height: 4px;
    background: transparent;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    background: rgb(255, 0, 0);
}
#progressBar {
    display: flex;
    position: relative;
    width: 99%;
    margin: auto;
}
#rangeProgress {
    -webkit-appearance: none;
    appearance: none;
    margin: auto;
    width: 100%;
    background: transparent;
    cursor: pointer;
    border: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    z-index: 10;
}
#rangeProgress::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: rgb(255, 0, 0);
    border-radius: 50%;
    transition: 150ms all;
    scale: 0;
}
#rangeProgress::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: rgb(255, 0, 0);
    border: none;
    border-radius: 50%;
    scale: 0;
    transition: 150ms all;
    top: 10%;
    transform: translateY(-10%);
}
#rangeProgress.active::-webkit-slider-thumb {
    scale: 1;
}
#rangeProgress.active::-moz-range-thumb {
    scale: 1;
}

.controllers .listControllers {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 98%;
    z-index: 9;
}
.controllers .listControllers .leftControllers,
.controllers .listControllers .rightControllers {
    display: flex;
    justify-content: center;
    align-items: center;
}
.leftControllers .icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    margin-left: 4px;
    margin-right: 4px;
    user-select: none;
    -webkit-user-select: none;
}
.rightControllers .icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    margin-left: 7px;
    margin-right: 7px;
    user-select: none;
    -webkit-user-select: none;
}
.controllers .icon img {
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    cursor: pointer;
    width: 20px;
    filter: invert(100%);
}
.icon button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    height: 30px;
    width: 30px;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.icon button:focus-visible {
    outline: 2px solid rgb(28, 142, 255);
}

.iconCustomForMobile img {
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    cursor: pointer;
    width: 15px;
    filter: invert(100%);
}
.iconCustomForMobile button {
    border: none;
    background: none;
    cursor: pointer;
    height: 30px;
    width: 30px;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
}

#fastForward:active #fastForwardIcon {
    transition: 0.2s;
    transform: rotate(45deg);
}

#volumeBtnIcon {
    width: 21px;
}
#volumeRange {
    -webkit-appearance: none;
    appearance: none;
    margin: auto;
    width: 0%;
    overflow: visible;
    height: 3px;
    width: 0px;
    opacity: 1;
    transition: 0.4s;
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#volumeRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    opacity: 0;
    transition: 150ms;
}
#volumeRange::-moz-range-thumb {
    width: 12px;
    height: 12px;
    background: rgb(255, 255, 255);
    border: none;
    border-radius: 50%;
    opacity: 0;
    scale: 0;
    transition: 200ms;
}
.icon:hover #volumeRange,
#volumeRange:focus-within{
    display: block;
    width: 60px;
}
.icon:hover #volumeRange::-webkit-slider-thumb,
#volumeRange:focus-within::-webkit-slider-thumb {
    opacity: 1;
}
.icon:hover #volumeRange::-moz-range-thumb,
#volumeRange:focus-within::-moz-range-thumb {
    opacity: 1;
    scale: 1;
}
#volumeRange:focus-visible {
    outline: 2px solid rgb(28, 142, 255);
    outline-offset: 5px;
}

.timer {
    position: relative;
    display: inline-block;
    font-size: 14px;
    white-space: nowrap;
    color: white;
    margin-left: 5px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    font-family: Arial, Helvetica, sans-serif;
}

.icon .auto-play {
    width: 30px;
    height: 10px;
    border-radius: 20px;
    outline: none;
    position: relative;
    margin-right: 8px !important;
    background: #b6b6b6;
    cursor: pointer;
  }
.icon .auto-play:focus-visible {
    outline-offset: 10px;
    outline: 2px solid rgb(28, 142, 255);
}
.icon .auto-play::before {
    content: '\e034';
    font-family: "material symbols outlined";
    width: 17px;
    height: 17px;
    font-size: 14px;
    background: #727272;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    font-style: normal;
    filter: invert(100%);
    position: absolute;
    left: -5px;
    transition: .4s;
    top: 50%;
    transform: translateY(-50%);
}
.icon .auto-play.active::before {
    content: "\e037";
    font-family: "material symbols outlined";
    filter: invert(0%);
    left: 15px;
    background: #ffffff;
}

#setting:active #settingIcon {
    transition: 0.2s;
    transform: rotate(45deg);
}

#pictureInPictureIcon {
    width: 28px;
}

#theaterIcon {
    width: 28px;
}

#fullscreenMobile {
    display: none;
    position: absolute;
}

.settingsContainer {
    display: none;
    position: absolute;
    right: 25px;
    bottom: 62px;
    width: 300px;
    height: 230px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(28 28 28 /90%);
    border-radius: 10px;
    z-index: 11;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transition: 150ms;
}
.settingsContainer p,
.settingsContainer button {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
.scOpen {
    display: flex;
}
.scQualityWHa {
    width: 250px;
    height: 250px;
}
.scPlaybackWHa {
    width: 240px;
    height: 250px;
}
.scPlaybackRangeWHa {
    width: 240px;
    height: 130px;
}
/*mainSettings*/
.mainSettings {
    visibility: visible;
    display: block;
    opacity: 1;
    position: relative;
    width: 300px;
    height: 280px;
}
.settingList {
    visibility: visible;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0%;
    transition: 150ms ease-in-out;
    overflow: auto;
    padding: 5px;
}
.setButToLeft {
    visibility: hidden;
    right: 100%;
}


.settingList button {
    display: flex;
    margin: auto;
    position: relative;
    cursor: pointer;
    justify-content: center;
    width: 100%;
    align-items: center;
    font-size: 14px;
    padding: 12px;
    font-size: 14px;
    outline: none;
    background: none;
    border: none;
}
.settingList button:focus-visible {
    outline: 2px solid rgb(28, 142, 255);
}
.settingList button:hover {
    background: rgba(83, 83, 83, 0.546);
    transition: 150ms all;
}
.settingsTextContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.settingsTextContainer .sBtnL {
    left: 0;
    justify-content: left;
    text-align: left;
}
.settingsTextContainer .sBtnR {
    justify-content: end;
    right: 0;
    text-align: end;
}
#settingsIconL {
    display: flex;
    width: 20px;
    filter: invert(100%);
    margin-right: 12px;
    
}
#settingsIconR {
    display: flex;
    width: 10px;
    filter: invert(100%);
    margin-left: 5px;
}


/*qualityList*/
.qualityList {
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 250px;
    overflow: auto;
    right: -100%;
    transition: 150ms ease-in-out;
}
.qualityListOpen {
    visibility: visible;
    right: 0%;
}
.qualityList span {
    display: flex;
    position: relative;
    border: 1px solid rgb(83, 83, 83);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    font-size: 14px;
    font-weight: 300px;
    text-align: center;
    padding: 15px 0px;
}
.qualityList span button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}
.qualityList span img {
    filter: invert(100%);
    width: 13px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
}
.qualityList ul {
    position: relative;
    padding: 5px;
}

.qualityList ul button {
    position: relative;
    width: 100%;
    height: 40px;
    font-size: 14px;
    padding: 12px 33px;
    cursor: pointer;
    outline: none;
    background: none;
    border: none;
    text-align: left;
}
.qualityList ul button:focus-visible {
    outline: 2px solid rgb(28, 142, 255);
}
.qualityList ul button.active::before {
    content: '\e876';
    font-family: "material symbols outlined";
    position: absolute;
    left: 7px;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 10px;
    font-size: 18px;
}
.qualityList ul button:hover {
    background: rgba(83, 83, 83, 0.546);
    transition: 150ms all;
}
/*playbackSpeed*/
.playbackList {
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 250px;
    overflow: auto;
    right: -100%;
    transition: 150ms ease-in-out;
}
.playListOpen {
    visibility: visible;
    right: 0%;
}
.playListToLeft {
    visibility: hidden;
    right: 100%;
}
.playbackList ul {
    display: flex;
    position: relative;
    border: 1px solid rgb(83, 83, 83);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    padding: 15px 0px;
}
.playbackList ul button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}
.playbackList span {
    display: block;
    font-size: 14px;
    font-weight: 300px;
    text-align: center;
}
.playbackList ul img {
    filter: invert(100%);
    width: 13px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
}
.playbackList ul img:focus {
    outline-offset: 3px;
}
#customLinkRangePlayback {
    right: 5px;
    margin-left: 20px;
    text-decoration: underline;
    padding: 0;
}


.playbackBtnList {
    padding: 5px;
}
.playbackList .playbackBtnList button {
    position: relative;
    width: 100%;
    height: 40px;
    font-size: 14px;
    padding: 12px 33px;
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
    text-align: left;
}
.playbackList .playbackBtnList button:focus-visible {
    outline: 2px solid rgb(28, 142, 255);
}
.playbackList .playbackBtnList button.active::before {
    content: '\e876';
    font-family: "material symbols outlined";
    position: absolute;
    left: 7px;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 10px;
    font-size: 18px;
}
.playbackList .playbackBtnList button:hover {
    background: rgba(83, 83, 83, 0.546);
    transition: 150ms all;
}
#customPlaybackStatus {
    display: none;
}
#customPlaybackStatus.active {
    display: block;
}

.customRangePlayback {
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    right: -100%;
    transition: 150ms ease-in-out;
}
.cusRangePlaybackOpen {
    visibility: visible;
    right: 0;
}
#rangeCustomPlayback {
    display: flex;
    position: relative;
    margin: auto;
    width: 80%;
    margin-bottom: 12px;
    accent-color: rgb(184, 184, 184);
    cursor: pointer;
    outline: none;
}
#rangeCustomPlayback:focus-visible {
    outline: 2px solid rgb(28, 142, 255);
}

.customRangePlayback ul {
    display: flex;
    position: relative;
    border: 1px solid rgb(83, 83, 83);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    padding: 15px 0px;
}
.customRangePlayback ul button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}
.customRangePlayback ul img {
    filter: invert(100%);
    width: 13px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
}
.customRangePlayback ul span {
    display: block;
    font-size: 14px;
    font-weight: 300px;
    text-align: center;
}
#PlaybackRangeValue {
    padding: 14px;
    text-align: center;
    font-size: 14px;
}


.captionList {
   visibility: hidden;
    position: absolute;
    width: 100%;
    height: 250px;
    overflow: auto;
    right: -100%;
    transition: 150ms ease-in-out;
}
.captionListOpen {
    visibility: visible;
    right: 0%;
}
.captionList span {
    display: flex;
    position: relative;
    border: 1px solid rgb(83, 83, 83);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    font-size: 14px;
    font-weight: 300px;
    text-align: center;
    padding: 15px 0px;
}

.captionList span button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}
.captionList span img {
    filter: invert(100%);
    width: 13px;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    outline: none;
}
.captionList span img:focus-visible {
    outline-offset: 3px;
    filter: invert(100%);
    outline: 2px solid rgb(28, 142, 255);
}
.captionList ul {
    position: relative;
    padding: 5px;
}
.captionList ul button {
    position: relative;
    width: 100%;
    height: 40px;
    font-size: 14px;
    padding: 12px 33px;
    cursor: pointer;
    outline: none;
    background: none;
    border: none;
    text-align: left;
}
.captionList ul button:focus-visible {
    outline: 2px solid rgb(28, 142, 255);
}
.captionList ul button.active::before {
    content: '\e876';
    font-family: "material symbols outlined";
    position: absolute;
    left: 7px;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 10px;
    font-size: 18px;
}
.captionList ul button:hover {
    background: rgba(83, 83, 83, 0.546);
    transition: 150ms all;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 15px;
    outline: transparent;
    border: transparent;
}
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #cccccc41;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 0;
    bottom: -2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
.switch .slider.active::before {
    left: 21px;
}
.switch .slider.active {
    background: red;
}
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}





@media (max-width: 1024px) {
    *, html {
        scrollbar-width: none;
    }

    .videoPlayer {
        display: flex;
        position: fixed;
        width: 100%;
        height: auto;
        border-radius: 0px;
        background-color: rgb(0, 0, 0);
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }

    #mainVideo {
        display: flex;
        margin: auto;
        position: relative;
        width: 100%;
        height: 100%;
        outline: none;
        border-radius: 0px;
        pointer-events: none;
        user-select: none;
        -webkit-user-select: none;
    }

    .controllersContainer {
        border-radius: 0px;
    }

    .headerControllers {
        display: flex;
        opacity: 1;
        pointer-events: fill;
        touch-action: none;
    }
    .headerControllers.active::before {
        opacity: 0;
    }
    .headerControllers .icon img {
        width: 15px;
    }
    .fullscreenTitle {
        position: absolute;
        left: 15px;
    }
    #captionMobile {
        display: block;
        position: absolute;
        right: 50px;
        font-size: 12px;
    }
    #settingMobile {
        display: block;
        position: absolute;
        right: 15px;
        font-size: 12px;
    }

    .controllersMobile {
        display: block;
    }

    .controllers {
        padding-top: 0px;
        height: 60px;
    }
    .controllers.active::before {
        opacity: 0;
    }

    .progressContainer {
        width: 100%;
        position: absolute;
        top: 70%;
        transform: translateY(-70%);
    }

    .controllers .icon img {
        width: 15px;
    }

    #fastRewind {
        display: none;
    }
    #fastForward {
        display: none;
    }
    #playPause {
        display: none;
    }
    #volumeBtn {
        display: none;
    }
    #volumeRange {
        display: none;
    }
    .timer {
        position: absolute;
        top: 8px;
        left: 15px;
        font-size: 12px;
    }
    .auto-play {
        display: none;
    }
    #captionBtn {
        display: none;
    }
    #pictureInPicture {
        display: none;
    }
    #theaterMode {
        display: none;
    }
    #setting {
        display: none;
    }
    #fullscreen {
        display: none;
    }
    #fullscreenMobile {
        display: block;
        position: absolute;
        top: 0;
        right: 15px;
    }
}
